* {
  color: #191919;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: Geneva, Helvetica, sans-serif; */
  font-family: "Poppins", Helvetica, sans-serif;
  /* font-family: "Inter", Helvetica, sans-serif; */
}

hr {
  border-color: black;
}

h2 {
  text-align: center;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}

img {
  width: 170px;
  height: auto;
  object-fit: cover;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid black;
}

a:visited {
  color: black;
}

a {
  color: black;
}

.language {
  display: contents;
  width: 25%;
}

.left {
  height: auto;
  width: 30vw;
  padding: 1rem 1rem 0 1rem;
  border-right: 3px solid black;
}

.right {
  height: auto;
  width: 75vw;
  padding: 0 3rem 0 3rem;
}

.left-h4 {
  background-color: #20262e;
  padding: 0.5rem;
  color: white;
}

.tech-skills {
  margin-left: 0.5rem;
  padding-left: 0;
}

#name {
  text-align: center;
}

#description {
  text-align: center;
}

.contact-details {
  line-height: 1.5rem;
}

.h4-left {
  margin-bottom: 3px;
}

.p1-left {
  margin-top: 0;
}

.my-table {
  width: 100%;
}

#ref-sec {
  display: flex;
  flex-direction: row;
}

.ref-p {
  width: 100%;
}

.h4-right {
  margin-top: 30px;
  margin-bottom: 0;
}

.p-right {
  margin-top: 0;
}

.hr-top {
  margin-top: 30px;
}

object {
  margin-right: 5px;
}
